body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.top-container {
  background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 1)),
    url(images/donation9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 700px;
}

.top-contants {
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}

.top-container p {
  font-size: 15px;
}

.button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px 35px;
  border: none;
  background-color: #ff5959;
  color: white;
  font-size: 20px;
}

.donate-container {
  text-align: center;
  width: 100%;
  margin-top: 120px;
}

.amount-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.amount-list p {
  margin: 20px;
  padding: 2% 2%;
  background-color: #fafafa;
  font-size: 30px;
  font-weight: bold;
}

#selected {
  background-color: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}

.manual-amount input {
  font-size: 20px;
  color: #b3b3b3;
  text-align: center;
  margin-top: 50px;
  background: none;
  border: none;
  padding: 10px 0;
  margin-bottom: 20px;
  outline: none;
  border-bottom: 1px solid #000;
  min-width: 40%;
}

.donate-container {
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
}

.box {
  text-align: left;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  margin: 40px 15px;
}
.box-contant {
  padding: 50px 20px;
  text-align: justify;
}
#box-1 {
  background-color: #4f9da61a;
}

#box-2 {
  background-color: #ff59591a;
}

#box-3 {
  background-color: #fff4d6;
}

.motivation-section {
  text-align: center;
  width: 100%;
}

.people-reaction {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.image-status {
  margin: 50px;
  width: 350px;
}

.image-status p {
  text-align: center;
  padding-bottom: 10px;
}

.footer {
  background-color: #0b0d17;
  text-align: center;
  color: white;
  padding: 20px;
}

.footer h2 {
  font-family: "Lobster", cursive;
  color: red;
  font-size: 35px;
}

.update-section {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.contact {
  background-color: #fff4d6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 25%;
  height: 200px;
}

.email {
  height: 41px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  background-color: #b3b3b3;
  padding: 1px 25px;
  color: white;
  font-size: 20px;
}

.subscribe {
  height: 40x;
  border: none;
  background-color: #ff5959;
  border-top-right-radius: 5px;
  padding: 10px 25px;
  border-bottom-right-radius: 5px;
  color: white;
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
